.kadoken_page section {
  margin: 1% 3% 120px 3%;
  float: none;
}
.kadoken_page .map {
  float: none;
}
.kadoken_page .map iframe {
  width: 720px;
  height: 720px;
}

@media screen and (max-width: 750px) {

  .kadoken_page .map {
    width: 100%;
  }
  @media (orientation:portrait) {
    .kadoken_page ul {
      padding-left: 10px;
    }
  }
}
